@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --linear-buttons: linear-gradient(90deg, #B872FF, #144480);
    --lilac: #B872FF;
    --blue-deep: #01080E;
    --blue-md: #041832;
    --blue-royal: #144480;
    --bottom-cards: #1B293B;
    --stopwatch-bg: rgba(20, 68, 128, 0.3);
    --bottom-tasks: rgba(0, 244, 191, 0.4);
    --check: #02CDA1;

    --ff-mont: "Montserrat", sans-serif;
    
    --text-bold: 600 1.125rem/150% var(--ff-mont);
    --text-md: 1.125rem/150% var(--ff-mont);
    --label-mont: .78rem/150% var(--ff-mont);

    --ff: "Unbounded", sans-serif;

    --heading-display: 7em var(--ff);
    --heading-lg: 600 1.625rem/120% var(--ff);
    --heading: 2.488em/120% var(--ff);
    --heading-sm: 2.074em/120% var(--ff);
    --subtitle-lg: 1.728em/120% var(--ff);
    --subtitle: 1.44em/150% var(--ff);
    --text-lg: 600 1.125rem/150% var(--ff);
    --text: 1.125rem/150% var(--ff);
    --label-bold: bold .75em/150% var(--ff);
    --label: .78rem/150% var(--ff);

    --px: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[role="list"] {
    list-style: none;
}

[data-context="focus"] {
    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

[data-context="long-rest"] {
    --main-bg-color: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
}

[data-context="short-rest"] {
    --main-bg-color: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
}

body {
    color: #FFFFFF;
    min-height: 100vh;
    background: url(../assets/pattern.png) no-repeat bottom/cover;
}

img {
    width: 100%;
}

#app {
    & header {
        justify-content: center;
        padding-block: 2.5rem;

        & figure {
            width: max-content;
        }
    }

    & section#banner {
        & div.display {
            margin-top: 1.5rem;
            align-items: center;

            & h1 {
                font: var(--heading-lg);
                font-weight: 200;

                & strong {
                    font-weight: 400;
                }
            }
        }
    }
}

#card {
    & div.time-card {
        margin-top: 3rem;
        background-color: var(--stopwatch-bg);
        width: 19.5rem;
        padding: 1.5rem 1rem;
        border-radius: 1.4rem;
        outline: 2px solid var(--blue-royal);

        & ul {
            gap: .5rem;
            justify-content: center;
            align-items: center;

            & li {
                font: var(--label-mont);
                white-space: nowrap;
            }
        }

        & div#timer {
            width: max-content;
            font: 600 3.375rem var(--ff);
            margin-block: 2rem;
        }

        & div#go {
            justify-content: center;
            
            & div:nth-child(1) {
                justify-content: center;

                & div.input {
                    position: relative;
                    width: max-content;
                    background-color: var(--bottom-cards);
                    width: 3.75rem;
                    height: 2rem;
                    border-radius: 10rem;
                    transition: background-color 200ms ease-in-out;

                    & input {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }

                    &::before {
                        content: "";
                        background: url(../assets/icons/circle.svg) no-repeat center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: translateX(-.6rem);
                        transition: transform 600ms ease;
                    }

                    &:has(input:checked) {
                        background-color: #B872FF;

                        &::before {
                            transform: translateX(.6rem);
                        }
                    }
                }

                & p {
                    font: var(--text-md);
                }
            }

            & button {
                all: unset;
                width: 11.25rem;
                background: var(--linear-buttons);
                border-radius: 10rem;
                padding-block: 0.45rem;
                text-align: center;
                font: var(--text-bold);
                position: relative;

                &::after {
                    content: '';
                    background: url(../assets/play_arrow.png) no-repeat;
                    width: 1.8rem;
                    height: 1.8rem;
                    position: absolute;
                    left: 1.6rem;
                    top: .8rem;
                }
            }
        }
    }
}

@media (width >=48rem) {
    :root {
        --heading-lg: bold 3.3125rem/120% var(--ff);
    }

    #app {
        & section#banner {
            & div.display {
                justify-content: center;

                & h1 {
                    font: var(--heading-lg);
                    font-weight: 200;

                    & strong {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #card {
        & div.time-card {
            margin-top: 4rem;
            padding: 1.5rem 5.5rem;
            width: 36.75rem;

            & ul {
                gap: 1rem;

                & li {
                    font: var(--text);
                }
            }

            & div#timer {
                font: bold 7rem var(--ff);
            }
        }
    }

    #tasks {
        & > div {
            display: flex;
            width: max-content;
        }   
    }
}

@media (width >=80rem) {
    main#app {
        & section#banner {
            & div.display {
                margin-top: 5rem;

                & h1 {
                    width: 30.625rem;
                }
            }
        }
    }

    #card {
        & div.time-card {
            margin-top: 5rem;
        }
    }
}