@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --linear-buttons: linear-gradient(90deg, #B872FF, #144480);
    --lilac: #B872FF;
    --blue-deep: #01080E;
    --blue-md: #041832;
    --blue-royal: #144480;
    --bottom-cards: rgba(255, 255, 255, 0.5);
    --stopwatch-bg: rgba(20, 68, 128, 0.3);
    --bottom-tasks: rgba(0, 244, 191, 0.4);
    --check: #02CDA1;

    --ff-mont: "Montserrat", sans-serif;

    --text-bold: 600 1.125rem/150% var(--ff-mont);
    --text-md: 1.125rem/150% var(--ff-mont);
    --text-sm: 0.9375rem/150% var(--ff-mont);
    --label-mont: .78rem/150% var(--ff-mont);
    --label-button: bold .75rem/150% var(--ff-mont);

    --ff: "Unbounded", sans-serif;

    --heading-display: 7em var(--ff);
    --heading-lg: 600 1.625rem/120% var(--ff);
    --heading: 2.488em/120% var(--ff);
    --heading-sm: 2.074em/120% var(--ff);
    --subtitle-lg: 1.728em/120% var(--ff);
    --subtitle: 1.44em/150% var(--ff);
    --text-lg: 600 1.125rem/150% var(--ff);
    --text: 1.125rem/150% var(--ff);
    --label-bold: bold .75em/150% var(--ff);
    --label: .78rem/150% var(--ff);

    --px: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[role="list"] {
    list-style: none;
}

[data-context="focus"] {
    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

[data-context="long-rest"] {
    --main-bg-color: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
}

[data-context="short-rest"] {
    --main-bg-color: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
}

body {
    color: #FFFFFF;
    min-height: 100vh;
    background: url(../assets/pattern.png) no-repeat bottom/cover;
    margin-inline: auto;
}

img {
    width: 100%;
}

#app {
    & header {
        justify-content: center;
        padding-block: 2.5rem;

        & figure {
            width: max-content;
        }
    }

    & section#banner {
        & div {
            margin-top: 1.5rem;
            align-items: center;
            margin-inline: auto;
            gap: 4rem;

            & h1 {
                font: var(--heading-lg);
                font-weight: 200;
                max-width: 30rem;
                margin-left: auto;


                & strong {
                    font-weight: 400;
                }
            }

            & figure img {
                width: 100%;
            }
        }
    }
}

#card {
    & div.time-card {
        margin-top: 3rem;
        background-color: var(--stopwatch-bg);
        width: 19.5rem;
        padding: 1.5rem 1rem;
        border-radius: 1.4rem;
        outline: 2px solid var(--blue-royal);
        margin-inline: auto;

        & ul {
            gap: .5rem;
            justify-content: center;
            align-items: center;

            & li {
                font: var(--label-mont);
                white-space: nowrap;
                cursor: pointer;
            }
        }

        & div#timer {
            width: max-content;
            font: 600 3.375rem var(--ff);
            margin-block: 2rem;
            margin-inline: auto;
        }

        & div#go {
            justify-content: center;

            & div:nth-child(1) {
                justify-content: center;

                & div.input {
                    position: relative;
                    width: max-content;
                    background-color: var(--bottom-cards);
                    width: 3.75rem;
                    height: 2rem;
                    border-radius: 10rem;
                    transition: background-color 200ms ease-in-out;

                    & input {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }

                    &::before {
                        content: "";
                        background: url(../assets/icons/circle.svg) no-repeat center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: translateX(-.6rem);
                        transition: transform 600ms ease;
                    }

                    &:has(input:checked) {
                        background-color: #B872FF;

                        &::before {
                            transform: translateX(.6rem);
                        }
                    }
                }

                & p {
                    font: var(--text-md);
                }
            }

            & button {
                all: unset;
                width: 11.25rem;
                background: var(--linear-buttons);
                border-radius: 10rem;
                padding-block: 0.45rem;
                text-align: center;
                font: var(--text-bold);
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    background: url(../assets/play_arrow.png) no-repeat;
                    width: 1.8rem;
                    height: 1.8rem;
                    position: absolute;
                    left: 1.6rem;
                    top: .8rem;
                }
            }

            & button.pause::after {
                background: url(../assets/pause.png) no-repeat;
            }
        }
    }
}

#tasks {
    & header {
        margin-top: 2rem;
        text-align: center;
        border-bottom: 2px solid var(--blue-royal);
        margin-bottom: 2.5rem;

        & small {
            font: var(--label-mont);
            margin-bottom: 1rem;
        }

        & strong {
            font: var(--text-bold);
        }
    }

    &>div {
        margin-bottom: 1.5rem;
        align-items: center;

        & h2 {
            font: 1.2em/120% var(--ff);
            white-space: nowrap;
        }

        & div.delete-tasks {
            position: relative;

            & button.more:hover+ul.more-list,
            ul.more-list:hover {
                display: grid;
            }

            & button.more {
                background-color: transparent;
                border: none;
                outline: inherit;
                margin-left: auto;
                cursor: pointer;
            }

            & .more-list {
                background-color: #1B293B;
                width: max-content;
                padding: 1rem;
                border-radius: .6rem;
                outline: 2px solid var(--blue-royal);
                display: none;

                position: absolute;
                top: 100%;
                right: 0;
                z-index: 10;

                & li {
                    & button {
                        background-color: transparent;
                        width: 100%;
                        border: none;
                        color: white;
                        font: var(--text-sm);
                        cursor: pointer;
                        align-items: center;
                    }

                    & img {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
        }

    }

    & ul.list-tasks {
        & .completed {
            background-color: rgba(0, 244, 191, 0.4);
        }

        & li {
            background-color: var(--bottom-cards);
            justify-content: space-between;
            padding: 1rem;
            border-radius: .6rem;
            cursor: pointer;
            color: var(--blue-deep);
            font: 600 1.125rem/150% var(--ff-mont);

            & div {
                align-items: center;
            }

            & img {
                width: 2rem;
            }
        }
    }

    & form {
        background-color: var(--bottom-cards);
        margin-top: .5rem;
        border-radius: .6rem;
        padding: .75rem 1rem;
        display: none;

        & div {
            & legend {
                font: var(--heading-sm);
                color: var(--blue-deep);
                margin-bottom: 2rem;
            }

            & textarea {
                width: 100%;
                border-radius: .4rem;
                background-color: #98A0A8;
                border: none;
                padding: 1rem;
                font: var(--text-md);
                color: #373737;
            }
        }

        & footer {
            justify-content: space-between;
            padding-block: 2rem .8rem;

            & button {
                background-color: transparent;
                border: none;
                align-items: center;
                gap: .25rem;
                font: var(--label-button);
                cursor: pointer;
            }

            &>div {
                gap: .4rem;

                & button.saved {
                    background-color: var(--blue-deep);
                    color: white;
                    padding: 0.3rem .8rem;
                    border-radius: 2rem;
                    gap: .6rem;

                    & img {
                        width: .8rem;
                    }
                }
            }
        }
    }

    &>button {
        align-items: center;
        background-color: transparent;
        border: none;
        outline: 2px solid var(--lilac);
        border-radius: 2rem;
        color: var(--lilac);
        margin-top: 2.5rem;
        padding-block: 1.125rem;
        justify-content: center;
        cursor: pointer;

        & img {
            width: 1.5rem;
        }
    }
}

footer.footer-credits {
    background-color: #010B15;
    margin-top: 5rem;
    padding-block: 1.75rem;
    text-align: center;

    & p {
        color: #B6B6B6;
        font: var(--text-sm);
    }
}

@media (width >=48rem) {
    :root {
        --heading-lg: bold 3.3125rem/120% var(--ff);
        --px: 5.625rem;
        --label-button: 600 1.125rem/150% var(--ff-mont);
    }

    #app {
        & section#banner {
            & div.display {
                justify-content: center;

                & h1 {
                    font: var(--heading-lg);
                    font-weight: 200;

                    & strong {
                        font-weight: bold;
                    }
                }

                & figure {
                    width: max-content;
                    margin-inline: auto;

                    &img {
                        width: 25.85rem;
                        margin-inline: auto;
                    }
                }
            }
        }
    }

    #card {
        & div.time-card {
            margin-top: 4rem;
            padding: 1.5rem 5.5rem;
            width: 36.75rem;

            & ul {
                gap: 1rem;

                & li {
                    font: var(--text);
                }
            }

            & div#timer {
                font: bold 7rem var(--ff);
            }
        }
    }

    #tasks {
        & header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1.5rem;
            text-align: start;

            & small {
                margin-bottom: unset;
                width: 11.25rem;
            }
        }

        & > div h2 {
            font: 1.5em/120% var(--ff);
        }

        & form {
            padding-bottom: 1.8rem;
        }
    }
}

@media (width >=80rem) {
    main#app {
        & section#banner {
            & div.display {
                margin-top: 5rem;
                width: max-content;
            }
        }

        & #banner figure img {
            width: 20.85rem;
        }
    }

    #card {
        & div.time-card {
            margin-top: 5rem;
        }
    }

    #tasks form footer {
        &>div {
            gap: 1rem;

            & button.saved {
                background-color: var(--blue-deep);
                color: white;
                padding: 0.39rem 1rem;
                border-radius: 2rem;
                gap: .6rem;

                & img {
                    width: 1rem;
                }
            }
        }
    }
}